//
// Demo elements
// --------------------------------------------------
// Just needed to style a few elements on the demo page calles demoElements.html

.theme-showcase {
	// Local variables
	//
	// Which are meant to be used only in this module. »Global« variables are stored
	// in /src/assets/scss/_variables.scss

	// Local mixins
	//
	// Which are meant to be used only in this module. »Global« mixins are stored
	// in /src/assets/scss/theme/_mixins.scss

	// Styles
	//
	.theme-dropdown .dropdown-menu {
		position: static;
		display: block;
		margin-bottom: 20px;
	}

	> p > .btn {
		margin: 5px 0;
	}

	.navbar .container {
		width: auto;
	}
}

// Так делать нельзя
@font-face {
	font-family: 'intro_inlineregular';
	src: url('../fonts/10732.eot');
	src: url('../fonts/10732.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/10732.woff2') format('woff2'),
		 url('../fonts/10732.woff') format('woff'),
		 url('../fonts/10732.ttf') format('truetype'),
		 url('../fonts/10732.svg#intro_inlineregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hello {
	// font-family: 'intro_inlineregular';
	font-family: 'Libre Barcode 39 Text';
}
