<h1 class="tiny">Hi!!</h1>
	<div class="theme">
		<img class="theme__image" src="../../assets/img/1.jpg" width="250" height="250">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 native">
				<p>
				Дизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтрак.
				</p>
			</div>
			<div class="col-md-4 native">
				<p>
				Дизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтрак.
				</p>
			</div>
			<div class="col-md-4 native">
				<p>
				Дизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтракДизайнерский отель в центре Лоо. Просторные номера с лоджиями, сплит-системами, холодильником и телевизором. Континентальный завтрак.
				</p>
			</div>
		</div>
		<div class="row full">
			<a class="oleni" href="#">Олени</a>
			<a class="oleni" href="#">Олени</a>
			<a class="oleni" href="#">Олени</a>
			<a class="oleni" href="#">Олени</a>
			<a class="oleni" href="#">Олени</a>
			<a class="oleni" href="#">Олени</a>
		</div>
	</div>
